.cloud-pricing .pricing__intro {
  text-align: center; }

.cloud-pricing .pricing__tabs {
  text-align: center; }
  .cloud-pricing .pricing__tabs--tab {
    width: 200px;
    font-size: 16px;
    font-size: 1rem;
    border: 4px solid #ff553e;
    background-color: transparent;
    color: #ff553e;
    font-weight: 400;
    padding: 0.8em;
    text-align: center;
    line-height: 1;
    display: inline-block;
    -webkit-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out; }
    .cloud-pricing .pricing__tabs--tab.is-active {
      background-color: #ff553e;
      color: #fff; }

.cloud-pricing .pricing__packages {
  border-top: 1px solid #E6E4E3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .cloud-pricing .pricing__packages--headline {
    text-align: center; }

.cloud-pricing .pricing__package-features {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 25%;
          flex: 1 1 25%; }
  .cloud-pricing .pricing__package-features--body {
    margin-top: 200px;
    border-bottom: 1px solid #E6E4E3; }
  .cloud-pricing .pricing__package-features--cell {
    border-top: 1px solid #E6E4E3;
    padding: 10px;
    min-height: 60px; }

.cloud-pricing .pricing__package {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 20%;
          flex: 1 1 20%;
  text-align: center;
  border-left: 1px solid #E6E4E3; }
  .cloud-pricing .pricing__package--highlighted {
    background: #F5F3F1; }
  .cloud-pricing .pricing__package--header {
    height: 200px; }
  .cloud-pricing .pricing__package--cell {
    border-top: 1px solid #E6E4E3;
    padding: 10px;
    height: 60px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .cloud-pricing .pricing__package--footer {
    border-top: 1px solid #E6E4E3;
    height: 80px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
